/* ----------- Variables ----------- */

$light-primary: #fcebd2;
$light-background: #e9ebec;
$light-title: #3d3d3d;
$light-text: #575757;

$dark-primary: #ffe071;
$dark-background: #0c151d;
$darkt-title: #f1f2f4;
$dark-text: #a3abb2;

/* ----------- Variables ----------- */